body {
    margin: 100px auto;
    width: 70%;
	
	
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    font-weight: bold;
	text-align: center;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #00000;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	color: #00000;
	text-align: center;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: F0FFFF;
	text-align: center;
}
footer {
    
    font-size: .8em;
	clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;

}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}