* {
margin: 0;
}
html {
height: 100%;
}

/* sticky footer */
.wrapper {
min-height: 100%;
height: auto !;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}

/* project image stuff */
.img-with-text {
    text-align: justify;
    width: [350];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

body {
    margin: 60px auto;
    width: 70%;
	height:100%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	text-align: center;
	padding: 5px;
	
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
	background-color: white;
	padding: 10px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
	text-align: center;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}