<!DOCTYPE html>
<html>

	<head>
		<title>Tyurina Nimalakumar Website </title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
	
		
		
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about/about.html">About</a></li>
        		<li><a href="/resume/resume.html">Resume</a></li>
        		<li><a href="/projects/projects.html">Projects</a></li>
    		</ul>
		</nav>
		<div class="container">
		 <div class="jumbotron">
    		<div class="blurb">
        		<h1>Tyurina Nimalakumar| University of Waterloo</h1>
				<p>I'm Tyurina, a second year engineering student at Waterloo. I enjoy working with </em> Don't trust me. <a href="/about">Read more about my interests</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:tyurina.nimalakumar@hotmail.ca">email</a></li>
        		<li><a href="https://www.linkedin.com/pub/tyurina-nimalakumar/b4/67a/154">LinkedIn</a></li>
			</ul>
		</footer>
	</body>
</html>